*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    
}
.page-body {
    width: 1200px;
    margin: 0 auto;
}
.header_main {
    display: flex;
}
.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}
.main_header_logo {
    margin-top: -5px;
}
.advantages-big-item {
    grid-column: 1/4;
    display: flex;   
}
.advantages-item {
    padding: 103px 85px;
    list-style: none;
    background-color: #83B3D31F;
}
.center_2 {
    background-color: #83B3D333;
}

.point_one {
   width: 490px;
   background-color: #82B3D3;
   text-align: center;
   color: white;
   padding-top: 100px;
}
.point_one h4 {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}


.comfort1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 80px 85px;
    text-align: center;

}
.conditions {
    width: 33.33%;
    background-color: #83B3D31F;
}
.comfort1 li:nth-child(2) {
    background-color: white;
}

nav {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}
.title-link {
    list-style: none;
    display: flex;
    margin-top: -45px;
   
}

.header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    list-style: none;
    display: flex;
    margin-top: -50px;
   
}

.welcome_3 {
    position: absolute;
    top: 100px;
    right: 610px;
}
.welcome_2 {
    position: absolute;
    top: 150px;
    right: 577px;
}
.welcome {
    position: absolute;
    top: 250px;
    right: 480px;
}





.link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 16px;

}
.header-li {
    padding: 20px 16px;
}


.link_1{
    background-color: #756157;
    padding-top: 8px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-left: 50px;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    color: white;

}
.link_main {
    border-bottom: 2px solid #756257;
    padding-bottom: 20px;
    width: 68px;
    
}

.main_heading {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.paragraph {
    text-align: center;
}
.city {
    display: flex;
   
    
}
.review {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 700;

}
.hotel_cost {
    display: flex;
    justify-content: space-between;
}


.attractions {
    display: flex;
}
.paragraph {
    font-size: 22px;
    line-height: 26px;
}

.signature {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
    background-color: #82B3D3;
    border-color: #82B3D3;
    color: white;
}

.mail {
    font-size: 18px;
    line-height: 24px;

}
form {
    display: flex;
    justify-content: space-around;
}

.main_catal {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.services {
    font-size: 18px;
    line-height: 23px;
    
}

.header_categorii {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.hotels_catal {
    font-size: 16px;
    line-height: 21px;
}

.detailed {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 8px 50px;
    background-color: #756157;
    color: white;
    border-radius: 4px;
}
.detailed_2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 8px 50px;
    background-color: #7DB54F;
    border-radius: 4px;
    
    }
.rating {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.categorii {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.mainn {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.list-item-catalog {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;
    
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.social-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.tell {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 40px;
}
.button {
    text-align: center;
}
.choice {
    display: flex;
    justify-content: flex-end;
    width: 130px;

}
.deco_menu {
    margin-right: 90px;
}
.deco_comp {
    margin-right: 70px;
    border: 2px solid gray;
}
.deco_list {
    margin-right: 80px;
    border: 2px solid gray;
}
.pages {
    display: flex;
    list-style: none;
    margin: 80px 0 80px 0;
}
.number {
    text-decoration: none;
    margin-left: 5px;
    padding: 20px;
    border-radius: 4px;
}
.number1 {
    color: black;
}
.number2 {
    background-color: #82B3D3;
    color: white;
}
.hotel_search {
    padding: 8px 50px;
    background-color: #756157;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 110px;
}
.interest {
    padding: 96px 304px;
    gap: 10px;

}
