*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    
}
.heading {
    position: relative;
    width: 1200px;
    height: 485px;
    background-image: url("../img/main_picture.jpg");

}
.decor_bot {
    width: 1200px;
    height: 57px;
    position: absolute;
    bottom: 0;
    
}
.sedona_town {
    padding: 69px 0 69px 0;
    gap: 25px;
}
.page-body {
    width: 1200px;
    margin: 0 auto;
}
.header_main {
    display: flex;
}
.grids {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}
.main_header_logo {
    margin-top: -5px;
}
.advantages-big-item {
    grid-column: 1/4;
    display: flex;   
}
.advantages-item {
    padding: 103px 85px 103px 85px;
    gap: 10px;
    list-style: none;
    background-color: #83B3D31F;
    text-align: center;
}
.advantages-item h4 {
    border-bottom: 2px solid #0000004D;
    padding-bottom: 20px;
}
.center_2 {
    background-color: #83B3D333;
}

.point_one {
   width: 490px;
   background-color: #82B3D3;
   text-align: center;
   color: white;
   padding: 103px 85px 103px 85px;
   gap: 10px;
}
.point_one h4 {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
   
    
}


.comfort1 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;

}
.conditions {
    width: 33.33%;
    background-color: #83B3D31F;
    padding: 80px 85px;
}
.comfort1 li:nth-child(2) {
    background-color: white;
}
.come_to_sedona {
    padding: 64px 0 64px 0;
    gap: 20px;
}

nav {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}
.title-link {
    list-style: none;
    display: flex;
    margin-top: -45px;
    position: relative;
   
}

.header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    list-style: none;
    display: flex;
    margin-top: -50px;
   
}

.welcome_3 {
    position: absolute;
    top: 100px;
    right: 610px;
}
.welcome_2 {
    position: absolute;
    top: 150px;
    right: 577px;
}
.welcome {
    position: absolute;
    margin-left: 380px;
    width: 458px;
    height: 352px;
    margin-top: 51px;
}





.link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 16px;

}
.header-li {
    padding: 20px 16px;
}


.link_1{
    background-color: #756157;
    padding-top: 8px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-left: 50px;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    border-radius: 4px;

}
.link_main {
    border-bottom: 2px solid #756257;
    padding-bottom: 20px;
    width: 68px;
    
}

.main_heading {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}
.paragraph {
    text-align: center;
}
.city {
    display: flex;
   
    
}
.review {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 700;

}
.hotel_cost {
    display: flex;
    justify-content: space-between;
}


.attractions {
    display: flex;
}
.paragraph {
    font-size: 22px;
    line-height: 26px;
}

.signature {
    width: 232px;
    height: 52px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    padding: 8px 50px;
    background-color: #82B3D3;
    border-color: #82B3D3;
    color: white;
    border-radius: 4px;
    
}

.mail {
    font-size: 18px;
    line-height: 24px;

}
form {
    display: flex;
    justify-content: space-around;
}

.main_catal {
    position: absolute;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    top: 0;
    
    
}

.services {
    font-size: 18px;
    line-height: 23px;
    padding-top: 50px;
}
.header_categorii {
    width: 150.43px;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 40px;
    padding-left: 50px;
}

.hotels_catal {
    font-size: 16px;
    line-height: 21px;
}

.detailed {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 8px 50px;
    background-color: #756157;
    color: white;
    border-radius: 4px;
}
.detailed_2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 8px 50px;
    background-color: #7DB54F;
    border-radius: 4px;
    
    }
.rating {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.categorii {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 70px;
}
.mainn {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.list-item-catalog {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;

    
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.social-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-list-item {
    margin-bottom: 80px;
}
.tell {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 40px;
}
.button {
    text-align: center;
}
.choice {
    display: flex;
    justify-content: flex-end;
    width: 130px;

}
.deco_menu {
    margin-right: 90px;
}
.deco_comp {
    margin-right: 70px;
    border: 2px solid gray;
}
.deco_list {
    margin-right: 80px;
    border: 2px solid gray;
}
.pages {
    display: flex;
    list-style: none;
    margin: 80px 0 80px 0;
}
.number {
    text-decoration: none;
    margin-left: 5px;
    padding: 20px;
    border-radius: 4px;
}
.number1 {
    color: black;
}
.number2 {
    background-color: #82B3D3;
    color: white;
}
.hotel_search {
    padding: 8px 50px;
    background-color: #756157;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 110px;
    
}
.interest {
    padding: 96px 304px 96px 304px;
    gap: 10px;

}
.you_mail {
    display: flex;
    justify-content: center;
}
.input {
    width: 452px;
    height: 52px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
}
.mailing {
    width: 1200px;
    height: 414.86px;
    padding: 96px 258px 104px 258px;
    background-image: url("../img/subscribe.jpg");
    gap: 10px;
}
.mailing_1 {
    width: 1200px;
    height: 414.86px;
    padding: 96px 258px 104px 258px;
    gap: 10px;
}
.circle {
    position: relative;

}
.circle::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 25px;
    width: 20px;
    height: 20px;
    background-color: #7DB54F;
    border-radius: 50%;
    }

span {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 16px;
    left: 29px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    

}
.mailing .main_heading {
    color: #FFFFFF;
}
.mailing .paragraph {
    color: #FFFFFF;

}
.filter {
    position: relative;
    width: 1200px;
    height: 412px;
    background-image: url('../img/filter.jpg');
    gap: 10px;
    padding-top: 10px;
}
.hhome {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 100px;
}
.jackdaw {
    position: relative;
    width: 6.39px;
    height: 9.94px;
}
.jackdaw::before,
.jackdaw::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #FFFFFF;
}
